/* body
{
    background-image: url(../../Contact\ -\ Active\ States.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: top;
} */

.models
{
    display: none;
}
.contact
{
    position: relative;
    background-color: var(--Midnight-Green);
    padding-top: 240px;
    padding-bottom: 118px;
}
.bg_img_contact_01 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 245px);
  }

  .bg_img_contact_02 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 0);
  }

.contact .container
{
    display: flex;
}

.contact .container .left
{
    width: 572px;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.title
{
    color: var(--white);
}

.subtitle
{
    margin-top: 38px;
    margin-bottom: 31px;
    color: var(--Light-Coral);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}

.contact-desc
{
    display: flex;
    margin-bottom: 2px;
}

.icon
{
    width: 94px;
}

.desc
{
    display: flex;
    align-items: center;
    color: var(--white);
    font-weight: 700 !important;
}

.contact .container .right
{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contact .container .right input,
.contact .container .right textarea
{
    width: 100%;
}

.contact .container .right input,
.contact .container .right input:focus
{
    height: 42px;
    margin-bottom: 24px;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--white);
    outline-width: 0;
}

.contact .container .right input::placeholder,
.contact .container .right textarea::placeholder
{
    opacity: 0.6;
}

.contact .container .right input,
.contact .container .right textarea
{
    padding-left: 14px;
}

.contact .container .right input::placeholder,
.contact .container .right input,
.contact .container .right textarea::placeholder
{
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.115px;
}

.contact .container .right input:hover::placeholder,
.contact .container .right textarea:hover::placeholder
{

    opacity: 1;
}


.contact .container .right input:focus,
.contact .container .right input:hover,
.contact .container .right textarea:focus,
.contact .container .right textarea:hover
{
    border-bottom: 1px solid var(--Rapture-Blue);
}



.contact .container .right textarea
{
    height: 85px;
    margin-bottom: 24px;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--white);
    outline-width: 0;
    resize: none;
    margin-bottom: 19px;
}

.contact .container .right textarea,
.contact .container .right textarea::placeholder
{
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.115px;
}


.input_error
{
    border-bottom: 1px solid var(--Light-Coral) !important;
}

.input_error::placeholder
{
    color: var(--Light-Coral) !important;
}

.error_message
{
    padding-left: 14px;
    color: var(--Light-Coral);
    font-size: 10px;
    font-style: italic;
    font-weight: 700;
    line-height: 13px;
    margin-top: -13px;
    margin-bottom: 15px;

}

button
{
    border: none;
}


@media (max-width: 768px)
{

  body
  {
    position: relative;
    background-image: url(../../Contact\ -\ Active\ States.jpg);
    background-repeat: no-repeat;
    height: 1475px;
  }


  .contact
  {
    padding-top: 200px;
    padding-bottom: 110px;
  }

  .contact .container
  {
    flex-direction: column;
    align-items: center;
    
  }

  .title,
  .subtitle
  {
    text-align: center;
  }
  .subtitle
  {
    margin-top: 25px;
    margin-bottom: 22px;
  }

  .contact-desc
  {
    padding-left: 35px;
  }
  .icon
  {
    width: 90px;
  }

  .contact .container .right
  {
    width: 542px;
    margin-top: 52px;
  }

  .contact .container .right input, 
  .contact .container .right input:focus
  {
    height: 50px;
    margin-bottom: 16px;
  }

  .contact .container .right textarea
  {
    height: 88px;
    margin-top: 5px;
  }

  .bg_img_contact_01
  {
    transform: translate(-50%, 216px);
  }

}

@media (max-width: 767px)
{

    /* body
    {
        position: relative;
        background-image: url(../../Contact\ -\ Mobile.jpg);
        background-repeat: no-repeat;
        height: 3948px;
    } */



    .bg_img_contact_01,
    .bg_img_contact_02
    {
        display: none;
    }

    .contact
    {
        padding-top: 135px;
        padding-bottom: 85px;
    
    }
    .contact .container .left
    {
        width: auto;
    }

    .title
    {
        font-size: 40px !important;
        line-height: 40px !important;
    }
    .subtitle
    {
        margin-top: 17px;
        margin-bottom: 38px;
    }
    .contact-desc
    {
        padding-left: 0;
        margin-bottom: 18px;
    }

    .icon
    {
        width: 95px;
    }

    .desc
    {
        flex: 1;
    }

    .contact .container .right
    {
        width: auto;
        margin-top: 29px;
    }

    

}