*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}

a
{
    text-decoration: none;
}


header
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

section,
footer
{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}

.container
{
    max-width: 1110px;
    margin: auto;
}



.menu_container
{
    background-color: var(--Midnight-Green);
}

.menu_content
{
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 73px;
}

ul
{
    list-style: none;
    display: flex;
}

li
{
    margin-right: 40px;
    color: var(--white);
}

li a
{
    color: var(--white);
    text-decoration: none;
}

li a:hover,
.footer_menu a:hover
{
    color: var(--Light-Coral);
}

.logo
{
    width: 240px;
    display: flex;
    align-items: center;
}

.menu
{
    flex: 1;
    display: flex;
    align-items: center;
}

.menu_mobile_btn,
.menu_mobile
{
    display: none;
}

.find
{
    position: relative;
    background-color: var(--Midnight-Green);
    height: 700px;
    display: flex;
    align-items: center;
}

.find .container
{
    display: flex;
    align-items: center;
}


.find .container .left
{
    width: 635px;
    display: flex;
    align-items: center;
    color: var(--white);
}

.find .container .right
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    padding-left: 30px;

}


.find .container .right span
{
    padding-bottom: 5px;
}


.find_border_top
{
    width: 50px;
    height: 4px;
    background-color: var(--Rapture-Blue);
    margin-bottom: 79px;
}

.bg_img_01
{
    position: absolute;
    left: 0;
    transform: translate(-50%);
}

.bg_img_02
{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-46%);
}

.build
{
    position: relative;
    background-color: var(--Sacramento-State-Green);
}
.bg_img_03
{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(50%);
}

.build .container
{
    display: flex;
    padding-top: 140px;
    padding-bottom: 110px;
}
.build .container .left
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--white);
    padding-right: 110px;
}

.build_border_top
{
    width: 50px;
    height: 4px;
    background-color: var(--Light-Coral);
    margin-bottom: 55px;
}

.build .container .right
{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: var(--white);
    padding-left: 15px;
    padding-top: 59px;

}

.build_item
{
    flex: 1;
    display: flex;
    margin-bottom: 30px;
}

.build_item--icon img
{
    width: 72px;
    height: 72px;
}
.build_item--description
{
    display: flex;
    flex-direction: column;
    padding-left: 22px;
}

.build_item--description span
{
    margin-bottom: 17px;
}

.build_item--description p
{
    opacity: 0.8;
}

.delivering
{
    background-color: var(--Deep-Jungle-Green);
    position: relative;
    padding-bottom: 149px;
}

.bg_img_05
{
    position: absolute;
}

.bg_img_06
{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
}

.delivering .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
}

.delivering--title
{
    color: var(--white);
    text-align: center;
    width: 932px;
}

.delivering--title span
{
    color: var(--Rapture-Blue);
}

.depoiments-container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 93px;
}

.depoiment-card
{
    position: relative;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg_img_04
{
    position: absolute;
    top: -37px;
}
.depoiment
{
    z-index: 2;
    text-align: center;
    color: var(--white);
    margin-bottom: 24px;
}

.dep--name
{
    text-align: center;
    color: var(--Rapture-Blue);
    font-weight: 700 !important;
}

.dep--position
{
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    font-style: italic;
    color: var(--white);
    margin-bottom: 31px;
}

.dep-img
{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 2px solid #C4FFFE;
}

.contact_us
{
    background-color: var(--Light-Coral);
    position: relative;
}

.bg_img_07
{
    position: absolute;
    bottom: 0;
}

.contact_us .container
{
    display: flex;
    justify-content: space-between;
    padding: 77px 96px 75px 98px;
}

.contact_us .title
{
    color: var(--Sacramento-State-Green);
}

footer
{
    background-color: var(--Dark-Green);
}

footer .container
{
    display: flex;
    margin-top: 47px;
    margin-bottom: 49px;
}

footer .container .left
{
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_menu
{
    display: flex;
    margin-bottom: 5px;
}

.menu_footer
{
    color: var(--white);
    margin-right: 41px;
}

footer .container .center
{
    color: var(--white);
    opacity: 0.6;
}

footer .container .right
{
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    color: var(--white);
}

footer .container .right a 
{
    margin-left: 12px;
}

.social a:hover svg path
{
    fill: var(--Light-Coral);
}

@media (max-width: 768px)
{
    
    .h2
    {
        font-size: 32px !important;
        line-height: 32px !important;
    }

    section,
    footer
    {
        width: 100%;
    }

    .container
    {
        max-width: 689px;
    }


    .menu_content
    {
        width: 689px;
        margin-top: 64px;
    }

    .logo
    {
        width: 175px;
    }
    .logo img
    {
        width: 128px;
    }

    .find
    {
        height: auto;
        display: block;
        padding-top: 224px;
        padding-bottom: 250px;
    }

    .bg_img_01
    {
        display: none;
    }

    .bg_img_02
    {
        transform: translate(-57%);
    }

    .find .container
    {
        flex-direction: column;
    }

    .find .left
    {
        justify-content: center;
    }
    .find .left .h1_large
    {
        font-size: 64px;
        line-height: 56px;
        text-align: center;
    }

    .find_border_top
    {
        display: none;
    }

    .find .container .right
    {
        padding-left: 0;
    }

    .find .container .right span
    {
        width: 457px;
        text-align: center;
        font-size: 15px;
        line-height: 28px;
        margin-top: 25px;
    }


    .build .container
    {
        flex-direction: column;
        padding-left: 57px;
        padding-right: 57px;
        padding-top: 100px;
        padding-bottom: 71px;
    }

    .build_border_top
    {
        margin-bottom: 31px;
    }

    .build .container .left
    {
        width: 100% !important;
    }
    

    .build .container .right
    {
        width: 100%;
        padding-left: 0;
        padding-top: 65px;
        padding-right: 5px;
    }

    .bg_img_03
    {
        top: 0;
    }

    .delivering
    {
        padding-bottom: 13px;
    }

    .delivering .container
    {
        padding-top: 100px;
    }

    .delivering--title
    {
        width: 490px;
    }

    .depoiments-container
    {
        flex-direction: column;
        align-items: center;
        margin-top: 84px;
    }

    .depoiment-card
    {
        width: 570px;
        margin-bottom: 83px;
    }

    .depoiment
    {
        margin-bottom: 18px;
    }

    .dep--position
    {
        margin-bottom: 14px;
    }


    .contact_us .container 
    {
        padding: 77px 59px 75px 57px;
        align-items: center;
    }

    .bg_img_07
    {
        bottom: -23px;
    }

    footer .container
    {
        margin-top: 56px;
        flex-wrap: wrap;
    }

    .footer_logo img
    {
        width: 97px;
    }

    footer .container .left,
    footer .container .center 
    {
        flex: 50%;
    }

    footer .container .center
    {
        text-align: right;
    }

    .menu_footer
    {
        font-size: 15px;
        line-height: 25px;
        margin-right: 24px;
    }

    .footer_menu
    {
        margin-bottom: 0;
    }
    
    footer .container .right
    {
        margin-top: 35px;
        flex-direction: row;
    }

    footer .container .right a:nth-child(1)
    {
        margin-left: 0;
    }

    .copy
    {
        opacity: 0.6;
        text-align: right;
        font-size: 15px;
        line-height: 25px;
    }

}

@media (max-width: 767px)
{
    /* body
    {
        position: relative;
        background-image: url(../../Menu\ -\ Mobile.jpg);
        background-repeat: no-repeat;
    } */
    .menu_mobile
    {
        position: relative;
        z-index: 99;
        position: fixed;
        display: none;
        flex-direction: column;
        align-items: center;
        top: 0;
        right: 0;
        background-color: var(--Police-Blue);
        width: 255px;
        height: 100%;
        padding: 0 47px 0 47px;
    }

    .menu_mobile img
    {
        position: absolute;
        right: 25px;
        top: 56px;
    }

    .menu_mobile_menu
    {
        width: 100%;
        margin-top: 113px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    .menu_mobile_menu a
    {
        color: var(--white);
        margin-bottom: 24px;
    }

    .menu_mobile .primary_btn_light
    {
        padding: 0px 34px 0px 34px !important;
    }


    section,
    footer
    {
        width: 100%;
    }

    .container
    {
        max-width: 327px;
    }

    .menu_content
    {
        max-width: 327px;
        margin-top: 48px;
    }

    .menu_content .menu,
    .menu_content .contact_menu a
    {
        display: none;
    }


    .menu_content .contact_menu
    {
        display: flex;
        align-items: center;
    
    }
    .menu_mobile_btn
    {
        display: block;
        cursor: pointer;
    }

    .find
    {
        padding-top: 160px;
        padding-bottom: 191px
    }

    .find .left .h1_large
    {
        font-size: 40px;
        line-height: 40px;
    }

    .find .container .right span
    {
        width: 330px;
        margin-top: 19px;
    }

    .bg_img_01
    {
        display: none;
    }

    .bg_img_02
    {
        transform: translate(-2%);
    }

    .build .container
    {
        padding-left: 0;
        padding-right: 0;
        padding-top: 64px;
        padding-bottom: 16px;
    }

    .build_item
    {
        flex-direction: column;
        margin-bottom: 49px;
    }


    .build_item--icon
    {
        margin: auto;
    }

    .build_item--description
    {
        padding-left: 0;
    }

    .build_item--description span
    {
        padding-top: 12px;
        margin-bottom: 7px;
    }

    .build_item--description span,
    .build_item--description p
    {
        text-align: center;
    }

    .build .container .right
    {
        padding-right: 0;
        padding-top: 57px;
    }
    .delivering
    {
        padding-bottom: 77px
    }

    .delivering .container
    {
        padding-top: 137px;
    }

    .delivering--title,
    .depoiment-card
    {
        width: auto;
    }

    .contact_us .container
    {
        flex-direction: column;
        text-align: center;
        padding: 83px 59px 82px 57px
    }

    .contact_us .title
    {
        margin-bottom: 24px;
    }


    footer .container
    {
        flex-direction: column;
        margin-top: 68px
    }
    
    footer .container .left, 
    footer .container .center,
    footer .container .right
    {
        align-items: center;
        text-align: center;
    }

    footer .container .left
    {
        width: auto;
    }

    .footer_logo
    {
        margin-bottom: 18px;
    }

    .menu_footer:nth-last-child(1)
    {
        margin-right: 0;
    }

    
    footer .container .center
    {
        margin-top: 24px;
    }

    footer .container .right
    {
        flex-direction: column;
    }
    footer .container .right .social
    {
        margin-top: 5px;
    }

    .copy
    {
        margin-top: 11px;
        text-align: center;
        letter-spacing: 0.3px;
    }

}